body {
  text-align: center;
  background-color: green;
}

.card-area {
  
}


.hand {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}

.card {
  width: 60px;
  height: 80px;
  position: relative;
}

.card.flipped {
  transform: rotateY(0deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  border: solid;
  font-size: 20px;
}

.front {
  background-color: pink;
  color: black;
}

.back {
  background-color: purple;
  color: white;
  transform: rotateY(180deg);
}
