body {
  text-align: center;
  background-color: #A8DADC;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;  
}

.card-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #264653;
}

.hand {
  display: flex; 
  gap: 10px;
}

.card {
  width: 70px;
  height: 100px;
  perspective: 600px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform .6s;
}

.card.flipped .card-inner{
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  border: solid;
  font-size: 20px;
}

.front {
  background-color: #264653;
  color: black;
}

.back {
  background-color: #264653;
  color: white;
  transform: rotateY(180deg);
}

button {
  padding: 8px 16px;
  background-color: #1D3557;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #457B9D;
}

input {
  padding: 8px;
  border: 2px solid black;
  width: 50px
}
